# IP del host que corre el contenedor Docker
BIND_IP=x.x.x.x

# Broker MQTT = add-on Mosquitto dentro de HAOS (VM bhyve en el NUC).
MQTT_IP=x.x.x.x
MQTT_PORT=1883
MQTT_USER=mqtt_user
MQTT_PASS=mqtt_pass
